@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4">
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6">
                        <div class="card border-0 shadow-lg">
                            @Body
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </main>
</div>
